.content-markdown {
  font-size: 0.85em;
}

.content-markdown .h1,
.content-markdown h1 {
  font-size: 2em;
}

.content-markdown .h2,
.content-markdown h2 {
  font-size: 1.6em;
}

.content-markdown .h3,
.content-markdown h3 {
  font-size: 1.2em;
}

.content-markdown .h4,
.content-markdown h4 {
  font-size: 1.06667em;
}

.content-markdown .h5,
.content-markdown h5 {
  font-size: 1em;
}

.content-markdown .h6,
.content-markdown h6 {
  font-size: 0.93333em;
}

.content-markdown pre {
  font-size: 0.93333em;
}

.content-markdown table {
  background: #fff;
  margin-bottom: 1.25em;
  border: solid 1px #dedede;
}

.content-markdown table tfoot,
.content-markdown table thead {
  background: #f7f8f7;
  font-weight: 700;
}

.content-markdown table tfoot tr td,
.content-markdown table tfoot tr th,
.content-markdown table thead tr td,
.content-markdown table thead tr th {
  padding: 0.5em 0.625em 0.625em;
  font-size: inherit;
  color: rgba(0, 0, 0, 0.8);
  text-align: left;
}

.content-markdown table tr td,
.content-markdown table tr th {
  padding: 0.5625em 0.625em;
  font-size: inherit;
  color: rgba(0, 0, 0, 0.8);
}

.content-markdown table tr.alt,
.content-markdown table tr.even,
.content-markdown table tr:nth-of-type(even) {
  background: #f8f8f7;
}

.content-markdown table tbody tr td,
.content-markdown table tfoot tr td,
.content-markdown table tfoot tr th,
.content-markdown table thead tr th,
.content-markdown table tr td {
  display: table-cell;
  line-height: 1.6;
}

.content-markdown table.tableblock {
  max-width: 100%;
  border-collapse: separate;
}

.content-markdown table.tableblock td > .paragraph:last-child p > p:last-child,
.content-markdown table.tableblock td > p:last-child,
.content-markdown table.tableblock th > p:last-child {
  margin-bottom: 0;
}

.content-markdown table.tableblock,
.content-markdown td.tableblock,
.content-markdown th.tableblock {
  border: 0 solid #dedede;
}

.content-markdown table.grid-all td.tableblock,
.content-markdown table.grid-all th.tableblock {
  border-width: 0 1px 1px 0;
}

.content-markdown table.grid-all tfoot > tr > td.tableblock,
.content-markdown table.grid-all tfoot > tr > th.tableblock {
  border-width: 1px 1px 0 0;
}

.content-markdown table.grid-cols td.tableblock,
.content-markdown table.grid-cols th.tableblock {
  border-width: 0 1px 0 0;
}

.content-markdown table.grid-all * > tr > .tableblock:last-child,
.content-markdown table.grid-cols * > tr > .tableblock:last-child {
  border-right-width: 0;
}

.content-markdown table.grid-rows td.tableblock,
.content-markdown table.grid-rows th.tableblock {
  border-width: 0 0 1px 0;
}

.content-markdown table.grid-all tbody > tr:last-child > td.tableblock,
.content-markdown table.grid-all tbody > tr:last-child > th.tableblock,
.content-markdown table.grid-all thead:last-child > tr > th.tableblock,
.content-markdown table.grid-rows tbody > tr:last-child > td.tableblock,
.content-markdown table.grid-rows tbody > tr:last-child > th.tableblock,
.content-markdown table.grid-rows thead:last-child > tr > th.tableblock {
  border-bottom-width: 0;
}

.content-markdown table.grid-rows tfoot > tr > td.tableblock,
.content-markdown table.grid-rows tfoot > tr > th.tableblock {
  border-width: 1px 0 0 0;
}

.content-markdown table.frame-all {
  border-width: 1px;
}

.content-markdown table.frame-sides {
  border-width: 0 1px;
}

.content-markdown table.frame-topbot {
  border-width: 1px 0;
}

.content-markdown td.halign-left,
.content-markdown th.halign-left {
  text-align: left;
}

.content-markdown td.halign-right,
.content-markdown th.halign-right {
  text-align: right;
}

.content-markdown td.halign-center,
.content-markdown th.halign-center {
  text-align: center;
}

.content-markdown td.valign-top,
.content-markdown th.valign-top {
  vertical-align: top;
}

.content-markdown td.valign-bottom,
.content-markdown th.valign-bottom {
  vertical-align: bottom;
}

.content-markdown td.valign-middle,
.content-markdown th.valign-middle {
  vertical-align: middle;
}

.content-markdown table tfoot th,
.content-markdown table thead th {
  font-weight: 700;
}

.content-markdown tbody tr th {
  display: table-cell;
  line-height: 1.6;
  background: #f7f8f7;
}

.content-markdown tbody tr th,
.content-markdown tbody tr th p,
.content-markdown tfoot tr th,
.content-markdown tfoot tr th p {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
}

.content-markdown p.tableblock > code:only-child {
  background: 0 0;
  padding: 0;
}

.content-markdown p.tableblock {
  font-size: 1em;
  margin: 0;
}

.content-markdown td > div.verse {
  white-space: pre;
}

.content-markdown .colist > table,
.content-markdown .hdlist > table {
  border: 0;
  background: 0 0;
}

.content-markdown .colist > table > tbody > tr,
.content-markdown .hdlist > table > tbody > tr {
  background: 0 0;
}

.content-markdown td.hdlist1,
.content-markdown td.hdlist2 {
  vertical-align: top;
  padding: 0 0.625em;
}

.content-markdown td.hdlist1 {
  font-weight: 700;
  padding-bottom: 1.25em;
}

.content-markdown blockquote {
  margin: 0 0 1.25em;
  padding: 0.5625em 1.25em 0 1.1875em;
  border-left: 1px solid #ddd;
}

.content-markdown blockquote cite {
  display: block;
  font-size: 0.9375em;
  color: rgba(0, 0, 0, 0.6);
}

.content-markdown blockquote cite:before {
  content: "\2014 \0020";
}

.content-markdown blockquote cite a,
.content-markdown blockquote cite a:visited {
  color: rgba(0, 0, 0, 0.6);
}

.content-markdown blockquote,
.content-markdown blockquote p {
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.85);
}

.content-markdown .quoteblock {
  margin: 0 1em 1.25em 1.5em;
  display: table;
}

.content-markdown .quoteblock > .title {
  margin-left: -1.5em;
  margin-bottom: 0.75em;
}

.content-markdown .quoteblock blockquote,
.content-markdown .quoteblock blockquote p {
  color: rgba(0, 0, 0, 0.85);
  font-size: inherit;
  line-height: 1.75;
  word-spacing: 0.1em;
  letter-spacing: 0;
  font-style: italic;
  text-align: justify;
}

.content-markdown .quoteblock blockquote {
  margin: 0;
  padding: 0;
  border: 0;
}

.content-markdown .quoteblock blockquote:before {
  content: "\201c";
  float: left;
  font-size: 2.75em;
  font-weight: 700;
  line-height: 0.6em;
  margin-left: -0.6em;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.content-markdown .quoteblock blockquote > .paragraph:last-child p {
  margin-bottom: 0;
}

.content-markdown .quoteblock .attribution {
  margin-top: 0.5em;
  margin-right: 0.5ex;
  text-align: right;
}

.content-markdown .quoteblock .quoteblock {
  margin-left: 0;
  margin-right: 0;
  padding: 0.5em 0;
  border-left: 3px solid rgba(0, 0, 0, 0.6);
}

.content-markdown .quoteblock .quoteblock blockquote {
  padding: 0 0 0 0.75em;
}

.content-markdown .quoteblock .quoteblock blockquote:before {
  display: none;
}

.content-markdown .quoteblock .attribution,
.content-markdown .verseblock .attribution {
  font-size: 0.9375em;
  line-height: 1.45;
  font-style: italic;
}

.content-markdown .quoteblock .attribution br,
.content-markdown .verseblock .attribution br {
  display: none;
}

.content-markdown .quoteblock .attribution cite,
.content-markdown .verseblock .attribution cite {
  display: block;
  letter-spacing: -0.025em;
  color: rgba(0, 0, 0, 0.6);
}

.content-markdown .quoteblock.abstract {
  margin: 0 0 1.25em 0;
  display: block;
}

.content-markdown .quoteblock.abstract blockquote,
.content-markdown .quoteblock.abstract blockquote p {
  text-align: left;
  word-spacing: 0;
}

.content-markdown .quoteblock.abstract blockquote p:first-of-type:before,
.content-markdown .quoteblock.abstract blockquote:before {
  display: none;
}

.content-markdown ol.unnumbered,
.content-markdown ul.checklist,
.content-markdown ul.none,
.content-markdown ul.unstyled {
  list-style-type: none;
}

.content-markdown ol.unnumbered,
.content-markdown ul.checklist,
.content-markdown ul.unstyled {
  margin-left: 0.625em;
}

.content-markdown ul.checklist li > p:first-child > .fa-check-square-o:first-child,
.content-markdown ul.checklist li > p:first-child > .fa-square-o:first-child {
  width: 1em;
  font-size: 0.85em;
}

.content-markdown ul.checklist li > p:first-child > input[type="checkbox"]:first-child {
  width: 1em;
  position: relative;
  top: 1px;
}

.content-markdown ul.inline {
  margin: 0 auto 0.625em auto;
  margin-left: -1.375em;
  margin-right: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.content-markdown ul.inline > li {
  list-style: none;
  float: left;
  margin-left: 1.375em;
  display: block;
}

.content-markdown ul.inline > li > * {
  display: block;
}

.content-markdown .unstyled dl dt {
  font-weight: 400;
  font-style: normal;
}

.content-markdown ol.arabic,
.content-markdown ol.arabic li {
  list-style-type: decimal;
}

.content-markdown ol.decimal,
.content-markdown ol.decimal li {
  list-style-type: decimal-leading-zero;
}

.content-markdown ol.loweralpha,
.content-markdown ol.loweralpha li {
  list-style-type: lower-alpha;
}

.content-markdown ol.upperalpha,
.content-markdown ol.upperalpha li {
  list-style-type: upper-alpha;
}

.content-markdown ol.lowerroman,
.content-markdown ol.lowerroman li {
  list-style-type: lower-roman;
}

.content-markdown ol.upperroman,
.content-markdown ol.upperroman li {
  list-style-type: upper-roman;
}

.content-markdown ol.lowergreek,
.content-markdown ol.lowergreek li {
  list-style-type: lower-greek;
}

.content-markdown span.line-through {
  text-decoration: line-through;
}
